@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;

}



.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

/* Header START*/

.header {
    padding: 0 20px 0 20px;
}

.top-line {
    display: flex;
    align-items: center;
    padding: 9px 0 9px 0;
}

.nav-top {
    margin-left: 520px;
    margin-right: 40px;

}

.nav-top ul {
    display: flex;
    grid-column-gap: 40px;

}

.nav-link {
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 115px;
    background-color: black;
    padding: 13px 1px;
    text-align: center;
    border-radius: 4px;
}

.button a {
    color: #fff;
}

/* Header END */

/* Section Header start */
.section-header {
    padding: 96px 0px 96px 48px;
}

.heade_right-left {
    display: flex;
    grid-column-gap: 110px;
}

.text-header {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.text-header::before {
    content: '';
    height: 1px;
    width: 72px;
    position: absolute;
    background-color: #525560;
    top: 40%;
    right: 630px;
}

.header-left {
    padding-left: 86px;
}

.text-title {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 67.2px */
    width: 461px;
    padding-top: 32px;
}

.text-desc {
    padding-top: 34px;
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
    width: 594px;
}

/* Section Header End */

/* section Environment Start */
.section-environment {
    background-color: #EFF7F2;
    padding: 96px 0 104px;
}

.text-environment {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 64px;
}

.grups-environment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 48px;
}

.grup-environment {
    display: flex;
    grid-column-gap: 24px;
}



.volonters-text h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 8px;
}

.volonters-text p {
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

/* section Environment End */

/* Section Project Start*/
.section-project {
    padding: 96px 0 0 0;
}

.project-header {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 16px;
}

.project-title {
    text-align: center;
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 700px;
    padding-bottom: 64px;
    padding-left: 300px;
}

.section-image-natural {
    display: flex;
    grid-column-gap: 24px;
    padding-bottom: 96px;
}

.mission-image {
    width: 372px;
    height: 292px;
    border-radius: 12px;
    background-color: #1D2130;
    padding: 80px 48px 48px 48px;
    background-image: url(../img/Image-natural1.png);
    background-repeat: no-repeat;

}

.mission-city {
    width: 372px;
    height: 292px;
    border-radius: 12px;
    background-image: url(../img/Image-3.png);
    background-repeat: no-repeat;
    background-color: #1D2130;
    padding: 80px 48px 48px 48px;

}

.mission-safety {
    width: 372px;
    height: 292px;
    border-radius: 12px;
    background-image: url(../img/image-city2.png);
    background-repeat: no-repeat;
    background-color: #1D2130;
    padding: 80px 48px 48px 48px;

}

.mission {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 42px */
    width: 315px;
    padding-bottom: 16px;
}

.mission-desc {
    width: 315px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 25.6px */
    padding-bottom: 0px;
}

.button-mission {
    width: 115px;
    background-color: #FFF;
    padding: 16px 20px 16px 20px;
    border-radius: 4px;
    align-items: center;
}

.button-mission a {
    color: #000;
    padding: 0px 23px;


}

/* Section Project End*/

/* Volunteer-donation START*/

.section-image2 {
    background-image: url(../img/foto-natural.png);
    border-radius: 12px;
    background-repeat: no-repeat;

}

.text-title-greener {
    color: #fff;
    width: 631px;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 57.6px */
    padding-top: 93px;
    padding-left: 275px;
    padding-bottom: 32px;
}

.section-title_button {
    padding-top: 32px;
    margin-bottom: 60px;
}

.button-volunter {
    display: flex;
    grid-column-gap: 32px;
    padding-left: 360px;
    padding-bottom: 92px;
}

.volunter {
    width: 185px;
    background-color: #70C174;
    padding: 16px 20px;
    text-align: center;
    border-radius: 4px;


}

.volunter a {
    color: #ffffff;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.donate {
    width: 115px;
    background-color: #FFF;
    padding: 16px 20px 16px 20px;
    border-radius: 4px;
    align-items: center;

}

.donate a {
    color: #000000;
    padding: 0px 24px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* Volunteer-donation END*/
/* News START */



.read-news {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 56px */
    position: relative;
    margin-bottom: 48px;
}

.read-news::after {
    content: '';
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    width: 981px;
    top: 53%;
    left: 23%;

}

.news-grup {
    display: flex;
    grid-column-gap: 24px;
}

.news-title {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 30px */
    padding-bottom: 8px;
}

.news-desc {
    color: #525560;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

/* News END */
/* Events START */
.for-events {
    display: flex;
    grid-column-gap: 24px;

}

.left-events {
    background-color: #BEF3C0;
    width: 628px;
    border-radius: 8px;
    display: flex;
    padding: 40px 48px 40px 40px;
    grid-column-gap: 24px;

}

.right-events {
    background-color: #BEF3C0;
    width: 628px;
    border-radius: 8px;
    display: flex;
    padding: 40px 48px 40px 40px;
    grid-column-gap: 24px;


}

.number-events {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 57.6px */
    font-variant: small-caps;
}

.events-desc {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.next-events {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;

}

.next-events::after {
    content: '';
    height: 1px;
    width: 44px;
    background-color: #525560;
    position: absolute;
    top: 44%;
    left: 130px;
}

.events-title {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 42px */
    position: relative;
    padding-top: 8px;
    width: 381px;
}

.events-img {
    padding-top: 40px;
    padding-left: 10px;
}

.section-news {
    margin-bottom: 98px;
}

.section-events {
    margin-bottom: 98px;
}

/* Events END */
/* Footer START */
.section-footer {
    background-color: #000;
    padding-top: 98px;
    height: px;
}

.todo-footer {
    display: flex;
    grid-column-gap: 124px;
    padding-bottom: 96px;
}

.nav-link_footer {
    color: #fff;
    padding-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;
    /* 22.4px */
}

.nav-linkfooter2 {
    color: #FFF;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 25.6px */
}

.text-footer {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 56px */
    width: 448px;
    padding-top: 0px;
    padding-bottom: 32px;
}

.nav-footer {
    padding-top: 8px;
}

.button-footer {
    display: flex;
}

.button-footer input {
    padding: 23px 130px 23px 23px;
    background-color: #000;
    border-radius: 4px;
    border: 1px solid rgba(235, 240, 249, 0.30);
}

.botton_footer {
    border-radius: 0px 4px 4px 0px;
}



.botton_footer a {
    padding: 5px 5px 5px 15px;
}

/* Footer END */