@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #fff;

}



.container {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

/* Header START*/

.header {
    padding: 0 20px 0 20px;
}

.top-line {
    display: flex;
    align-items: center;
    padding: 9px 0 9px 0;
}

.nav-top {
    margin-left: 520px;
    margin-right: 40px;

}

.nav-top ul {
    display: flex;
    grid-column-gap: 40px;
    list-style: none;

}

.nav-link {
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.button {
    width: 115px;
    background-color: black;
    padding: 13px 1px;
    text-align: center;
    border-radius: 4px;
}

.button a {
    color: #fff;
}

/* Header END */
/* Section Climate Start */

.section-statia-data {
    padding: 96px 0px 96px 0px;
}

.data {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    padding-bottom: 32px;
}

.header-climate {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 16px;
}

.desc-climate {
    color: #525560;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 48px;
}

.class-left {
    padding-left: 130px;
}


.header-text {
    padding-top: 96px;
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 1024px;
}

.desc {
    padding-top: 32px;
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 1024px;
}

.title-desc {
    color: #1D2130;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 1024px;
    padding-top: 32px;
}

.link-text {
    padding-left: 17px;
}

.link-text li {
    color: #525560;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 1024px;

}

/* Section Climate  END*/
/* Footer START */
.section-footer {
    background-color: #000;
    padding-top: 98px;
    height: px;
}

.todo-footer {
    display: flex;
    grid-column-gap: 124px;
    padding-bottom: 96px;
}

.nav-link_footer {
    color: #fff;
    padding-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;
    /* 22.4px */
}

.nav-linkfooter2 {
    color: #FFF;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 25.6px */
}

.text-footer {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 56px */
    width: 448px;
    padding-top: 0px;
    padding-bottom: 32px;
}

.nav-footer {
    padding-top: 8px;
}

.button-footer {
    display: flex;
}

.button-footer input {
    padding: 23px 130px 23px 23px;
    background-color: #000;
    border-radius: 4px;
    border: 1px solid rgba(235, 240, 249, 0.30);
}

.botton_footer {
    border-radius: 0px 4px 4px 0px;
}



.botton_footer a {
    padding: 5px 5px 5px 15px;
}

/* Footer END */